
    <div class="list-group">
        <a asp-area="user" asp-page="/index" class="list-group-item">
            <i class="fa fa-home"></i>
            داشبورد
        </a>
       
        <a asp-area="user" asp-page="/profile/index" class="list-group-item">پروفایل</a>
        <a asp-page="/account/manage/changepassword" asp-area="Identity" class="list-group-item">تغییر رمز</a>

    </div>

